/* Write your CSS here */
body {
  font-family: Roboto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-weight: 800;
  color: #2d3a35;
  text-align: center;
}
.button {
  background-color: #007bff;
  color: white;
  height: 30px;
  width: 80px;
  text-align: center;
}
.button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  text-align: center;
  font-weight: 400;
}
.val {
  color: #c20a72;
}
.main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
